@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}
.mb-3{
    margin-bottom: 0 !important;
}
.hero{
    width: 100%;
    height: 70vh;
    background: url("../Pictures/Prva.jpg");
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    display: grid;
    place-items: center;
    font-family: 'Nanum Myeongjo', serif;
}
.overlay h1{
    font-size: 54px;
}
.text{
    display: grid;
    place-items: center;
}
.text p{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    opacity: 0.5;
}
.ikonica{
    width: 100%;
    height: 70vh;
    position: absolute;
}
.more{
    position: absolute;
    color: #FF214F;
    font-size: 42px;
    bottom: 15px;
    left: 50%;
    cursor: pointer;
}
.qmn{
    padding-top: 130px;
    padding-bottom: 130px;
}
.qmn h2{
    margin-bottom: 0;
    padding-bottom: 20px;
}
.break{
    width: 75px;
    border: 3px solid black;
}
.qmn-desc{
    padding-top: 20px;
    font-family: Roboto;
    font-weight: 300;
}
.qmn-right{
    display: grid;
    place-items: center;
}
.qmn-img{
    width: 100%;
}
.about-us{
    background: #F7F7F7;
    margin: 0;
}
.au-text{
    padding: 6.5%;
}
.au-text h2{
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
}
.au-desc{
    font-family: Roboto;
    color: #6f6f6f;
}
.au-desc span{
    color: #FF214F;
    padding-right: 5px;
}
.desc-text{
    padding: 15px;
}
.contact{
    color: #6f6f6f;
    font-family: Roboto;
    display: grid;
    text-align: center;
    place-items: center;
}
/* ANIMACIJA */
@keyframes more-scroll{
    0%{
        transform: rotate(0) translateY(-10px);
        }
    50%{
        transform: rotate(0) translateY(0);
        }
    100%{
        transform: rotate(0) translateY(-10px);
        }
}

.more{
    animation: more-scroll 1s infinite 0s linear;
}

@media only screen and (max-width: 767px){
    .qmn{
        padding-top: 80px;
        padding-bottom: 0;
    }
    .qmn-right{
        padding-bottom: 80px;
    }
    .contact{
        padding-bottom: 25px;
    }
}